.body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  background-color: rgba(0, 0, 0, 0.3);
  /* width: 500px; */
  text-align: center;
  padding: 20px;
  /* margin-right: 0; */
  /* justify-content: center; */
}

.title h1 {
  color: green;
  font-size: 3rem;
}

.title h2 {
  color: green;
  font-size: 2rem;
}

.myform {
  /* text-align: center; */
  padding: 40px;
}

label {
  color: aliceblue;
  padding: 10px;
  border: solid white;
  margin: 20px;
}

input {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#logbutton {
  height: 50px;
  width: 150px;
  color: green;
  cursor: pointer;
}

#logbutton :hover {
  background-color: pink;
}

.redstyle {
  color: red;
  padding-top: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}
