@media screen and (max-width: 600px) {
  .movies {
    display: flex;
    flex-direction: column;
  }
  body {
    background-color: blue;
  }

  body {
    background-color: blue;
  }
}
body {
  background-image: url("images/movies.png");
}

h1 {
  font-size: 3rem;
  color: black;
  padding: 20px;
}

.images {
  float: left;
  height: 180px;
  width: 180px;
  padding: 10px;
  display: block;
}

.mycontainer {
  display: flex;
  flex-wrap: wrap;
}

li {
  height: 200px;
  width: 800px;
  list-style: none;
}

.movieinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 15px;
}

.movies {
  width: 800px;
  height: 200px;
  margin: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: aliceblue;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  /* padding: 10px; */
}

p {
  font-size: 16px;
  /* position: relative; */
  bottom: 0px;
}

/* .firstbutton {
  display: block;
  width: auto;
} */
